@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

body, html, #react-canvas, .bpmn-preview, .react-bpmn-diagram-container {width: 100%; height: 100%; margin: 0; padding: 0}

#root {
    height: 100%;
    width: 100%;
    display: flex;
}